			html, body {
				height: 100%;
			}

			body {
				background-color: #000000;
				margin: 0;
				font-family: 'Roboto', sans-serif;;
				overflow: hidden;
			}

			a {
				color: #ffffff;
			}
			
			#container {
			background: url(../media/sfondo_x.jpg);
			background-size: cover;
			width: 100%;
			height:100%;
			}

			#info {
				position: absolute;
                height: 100%;
                top: 0px;
                left: -210px;
				transition: left 0.5s;
				z-index: 1;
			}
            
            #info #tags {
                position: absolute;
                top: 0px;
                width: 210px;
                height: 100%;
                min-height: 100%;
                padding: 0px;
                background-color: rgba(255,255,255,0.75);
                font-weight: 100;
                font-size: 0.8em;
                transition: visibility 1s;
                
                -webkit-box-shadow: 8px 8px 33px -3px rgba(0,0,0,0.75);
				-moz-box-shadow: 8px 8px 33px -3px rgba(0,0,0,0.75);
				box-shadow: 8px 8px 33px -3px rgba(0,0,0,0.75);
            }
            
            #info #tags_tab {
                position: absolute;
                display: block;
                top: 50%;
                transform: translateY(-50%);
                right: -75px;
                width: 64px;
                height: 64px;
                padding: 5px;
                background: url(../media/menu.png) no-repeat center;
                list-style-type: none;
                font-weight: 100;
                font-size: 2.0em;
                color: #000;
                cursor: pointer;
                transition: visibility 1s;
            }
            
            #info #tags_tab:hover {
            color: #fff;
            background-image: url(../media/menu_hover.png);
            }
            
            #info #tag_buttons {
            height: 85%;
            border-bottom: 1px solid #777;
            overflow: auto;
            //column-width: 8em;
            //-moz-column-width: 8m;
            //-webkit-column-width: 8em;
            
            }
            
            #info .tag_button {
                width: 8em;
                list-style-type: none;
				cursor: pointer;
                margin: 0px 0px 3px 0px;
            }
            
            #info .tag_button:hover {
				font-weight: 300;
                color: #167ac6;
            }
            
            #info .tag_button:before {
				font-family: 'FontAwesome';
				font-size: 0.9em;
				color: #666;
				content: '\f07c';
				margin:0 5px 0 -15px;
			}
            
            #info .tag_button:hover:before {
				color: #167ac6;
			}
            
            #menu_links {
                position: absolute;
                bottom: 4%;
            }
            
            #menu_links li {
                list-style:none;
            }
            
            #menu_links a {
                color: #000;
                text-decoration: none;
            }
            
            #menu_links a:hover {
                color: #167ac6;
            }
            
             #info a:before {
				font-family: 'FontAwesome';
				font-size: 0.9em;
				color: #666;
				content: '\f0a4';
				margin:0 5px 0 -15px;
			}
            
            #menu_links a:hover:before {
                color: #167ac6;
            }
            

			#menu {
				position: absolute;
				bottom: 20px;
				width: 100%;
				text-align: center;
			}
            
            .menu_enabled {
            color: rgba(255,255,255,1.0);
            padding: 0px 5px 0px 5px;
            cursor: pointer;
            }
            
            .menu_enabled:hover {
            color: rgba(0,0,0,0.75);
            }
            
            .menu_disabled {
            color: rgba(255,255,255,0.5);
            padding: 0px 5px 0px 5px;
            cursor: default;
            }
            
            .menu_disabled:hover {
            color: rgba(255,255,255,0.5);
            }
			
			#media_players {
				position: absolute;
				width: 100%;
				width: 100%;
			}
			
			.player_div {
				position: fixed;
				top: 50%;
				left: 50%;
				-webkit-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
				display: none;
			}
			
            .player_close_btn {
                position: absolute;
                right: 0px;
                bottom: 0px;
                -webkit-transform: translate(0, 110%);
				transform: translate(0, 110%);
				border: 0px;
                color: rgba(255,255,255,1.0);
                background: transparent;
                cursor: pointer;
            
            }
            
            .player_close_btn:hover {
                color: rgba(0,0,0,0.75);
            
            }
            
			.ytvideo, .vmvideo, .pdf {
			border: 8px solid #fff;
			box-shadow: 8px 8px 50px #333;
			}
			
						
			#descr_container {
				position: absolute;
				top: 0px;
				right: 0px;
                height: 100%;
                min-height: 100%;
                -webkit-transform-style: preserve-3d;
                -moz-transform-style: preserve-3d;
                transform-style: preserve-3d;
                transition: right 1s;
			}
			
			#descr_container .descr {
				visibility: hidden;
				position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 200px;
                padding: 10px;
                background-color: #fff;
                font-weight: 100;
                font-size: 0.8em;
                transition: visibility 1s;
                
				-webkit-box-shadow: -8px 8px 33px -3px rgba(0,0,0,0.75);
				-moz-box-shadow: -8px 8px 33px -3px rgba(0,0,0,0.75);
				box-shadow: -8px 8px 33px -3px rgba(0,0,0,0.75);
			}
			
			#descr_container .tag {
				list-style-type: none;
                font-weight: 300;
				color: #000;
				cursor: pointer;
			}
            
            #descr_container .tag:hover {
				font-weight: 300;
                color: #167ac6;
			}
			
			#descr_container .tag:before {
				font-family: 'FontAwesome';
				font-size: 0.9em;
				color: #ccc;
				content: '\f07c';
				margin:0 5px 0 -15px;
			}
            
            #descr_container .tag:hover:before {
				color: #167ac6;
			}
            

			.element {
				
				//box-shadow: 0px 0px 12px rgba(0,255,255,0.5);
				//border: 1px solid rgba(127,255,255,0.25);
				text-align: center;
				cursor: default;
			}

			.element:hover {
				box-shadow: 0px 0px 12px rgba(0,255,255,0.75);
				border: 1px solid rgba(127,255,255,0.75);
			}

				.element .contrib {
					opacity: 0.75;
					-webkit-transition: opacity 0.5s;
					transition: opacity 0.5s;
				}

				.element .symbol {
					position: absolute;
					top: 40px;
					left: 0px;
					right: 0px;
					font-size: 60px;
					font-weight: bold;
					color: rgba(255,255,255,0.75);
					text-shadow: 0 0 10px rgba(0,255,255,0.95);
				}

				.element .details {
					position: absolute;
					bottom: 15px;
					left: 0px;
					right: 0px;
					font-size: 12px;
					color: rgba(127,255,255,0.75);
				}


			button {
                font-family: 'Roboto', sans-serif;
                font-weight: 300;
				color: rgba(127,255,255,0.75);
				background: transparent;
				outline: 1px solid rgba(127,255,255,0.75);
				border: 0px;
				padding: 5px 10px;
				cursor: pointer;
			}
			button:hover {
				background-color: rgba(0,255,255,0.5);
			}
			button:active {
				color: #000000;
				background-color: rgba(0,255,255,0.75);
			}
			
			#spiega {
				position: absolute;
				width: 220px;
				font-size: 11px;
				height: 15px;
				left: 20px;
				color: rgba(0,0,0,0.75);
				background: transparent;
				outline: 1px solid rgba(0,0,0,0.75);
				border: 0px;
				padding: 5px 10px;
				cursor: default;
			}
			
			#error_box {
				position: absolute;
				top: 50%;
				left: 50%;
				margin-top: -40px;
				margin-left: -180px;
				width: 360px;
				height: 80px;
				padding: 10px;
				background-color: rgba(255,255,255,0.8);
				display: none;	
			}
			
			#error_icon {
			position: absolute;
			height: 100%;
			color: #f00;
			}
			
			#error_message {
			position: absolute;
			left: 90px;
			font-weight: 300;
			}
            
            /* SCROLLBARS */
            /* Let's get this party started */
::-webkit-scrollbar {
    width: 6px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); 
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: rgba(255,255,255,0.8); 
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,255,255,0.4); 
}
