body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    background: url(../media/sfondo_form.jpg) no-repeat center center fixed;;
    background-size: cover;
}

#container {
    position:absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -60%);
    transform: translate(-50%, -60%);
    background-color: rgba(255,255,255,0.80);
    width: 75%;
    height: 75%;
    min-width: 50%;
    min-height: 30%;
    -webkit-box-shadow: 8px 8px 33px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 8px 8px 33px -3px rgba(0,0,0,0.75);
    box-shadow: 8px 8px 33px -3px rgba(0,0,0,0.75);
    
}

.ghost {
	font-family: 'Amatic SC', sans-serif;
}

#list {
	position: absolute;
	bottom: 0px;
	left: 0px;
	height: 50%;
	width: 100%;
	padding: 10px 10px 10px 15px;
	overflow: auto;
    color: #000;  
    font-weight: 300;
    font-size: 0.9em;
}

table {
   border: 0px
}

.redp {
    color: #000;  
    font-weight: 400;
    font-size: 1em;
    cursor: pointer
}

.redp:hover {
    color: #167ac6;
}

.greenp {
    color: green;
    cursor: pointer
}
.righty {
    text-align: right;
    width: 100%
}
.small {
	font-weight: 300;
    font-size: 80%
}
.bold {
    font-weight: bold
}
.big {
	font-size: 2em;
}

.warn {
    color: grey
}
.c-table td {
        vertical-align: middle
}

#doc-table {
    border-collapse: collapse
}
#doc-table tr {
    vertical-align: top
}

/* SCROLLBARS */

::-webkit-scrollbar {
    width: 8px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.5); 
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: rgba(22,122,198,0.9); 
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,255,255,0.6); 
}
