<% include top.html %>
<% include middle.html %>
        <span style="font-weight: bold">Administration by <%= usr %>.</span>
	<br>
	Do you wish to receive notifications?&nbsp;&nbsp;
	<input type="checkbox" id="notified" onchange="socia.notification('<%= usr %>', 'notified')">
	<br>
	<br>
	<div>
	  <select id="usr" onchange="if(_.id('usr').selectedIndex) socia.showuser('<%= usr %>', 'usr', 'usr-admin')"></select>
	</div>
	<div id="usr-admin"></div>

	
<script type="text/javascript">window.onload=socia.initadmin('<%= usr %>', 'usr', 'notified')</script>
<% include bottom.html %>
