<span id="usr-bar" class="row">
	<div class="col-md-3">
		<div class="btn-group">
			<button type="button" id="usr-login" class="btn btn-default" onclick="socia.dologin('usr-bar')"><i class="fa fa-sign-in"></i>&nbsp;login</button>
			<button type="button" id="usr-register" class="btn btn-default" onclick="socia.doregister('usr-bar')">register</button>
		</div>
	</div>
	<div class="col-md-6">
		<span class="ghost big">PARTICIPATE TO GHOSTTOWN PROJECT</span>
	</div>
</span>
