<div class="row">
	<span class="bold col-md-1">Welcome. </span>
</div>



<div class="row">
	<span class="col-md-6">
		<span class="input-group">
			<span class="input-group-addon small">Select a theme:</span>
			<select id="theme" class="form-control  small"></select>	
			<span class="input-group-btn">
				<button onclick="socia.showcontribs('theme', 'list')" class="btn btn-default">ok</button>
			</span>
		</span>
	</span>
	<br>
</div>
<div id="list"></div>

<script type="text/javascript">window.onload=socia.initcontribs('theme')</script>
