<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<link href="http://fonts.googleapis.com/css?family=Roboto:300italic,400,100,300,100italic" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="css/socia.css">
<script src="js/minut.js" type="text/javascript"></script>
<script src="js/sha3.js" type="text/javascript"></script>
<script src="js/socia.js" type="text/javascript"></script>
<title><%= title %></title>
</head>

<body>
<table id="doc-table">
<tr>
  <td><img src="media/rue.svg" alt="left side picture" style="height: 500px"/></td>
<td>
  <div><img src="media/xnOinO.png" alt="logo" style="height: 75px" /></div><br />
<div id="doc">
