<input autofocus type="text" class="form-control" id="user" placeholder="username" />
<input id="pass" type="password" class="form-control" placeholder="password" onkeyup="if(_.kid.ret) socia.login('user', 'pass', 'nope')" />
<button class="form-control btn btn-default" onclick="socia.login('user', 'pass', 'nope')">login</button></td>
<br /><span id="nope" class="warn"></span>

