	    <span id="usr-bar" class="bold small">
	      &nbsp;&nbsp;&nbsp;
	      <span id="usr-home">
		<span class="redp" onclick="window.location='space_of_<%= usr %>'">private area</span>
	      </span>
	      &nbsp;&nbsp; &nbsp;
	      <span id="usr-logout">
		<span class="redp" onclick="window.location='logout/<%= usr %>'">logout <%= usr %></span>
	      </span>
	    </span>
