<table>
  <tr>
    <td><input autofocus id="user" type="text" placeholder="username" /></td>
    <td><input id="email" type="text" name="email" placeholder="email address" /></td>
  </tr>
  <tr>
    <td><input id="pass" type="password" placeholder="password" /></td>
    <td><input id="veri" type="password" placeholder="double check it"
	       onkeyup="if(_.kid.ret) socia.register('user', 'pass', 'veri', 'email', 'nope')" /></td>
  </tr>
  <tr>
    <td><button onclick="socia.register('user', 'pass', 'veri', 'email', 'nope')">register</button></td>
  </tr>
</table>
<div id="nope" class="warn"></div>
