<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<link href="http://fonts.googleapis.com/css?family=Roboto:300italic,400,100,300,100italic,500,700,900" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" href="css/socia.css">
<script src="js/minut.js" type="text/javascript"></script>
<script src="js/sha3.js" type="text/javascript"></script>
<script src="js/socia.js" type="text/javascript"></script>
<title><%= title %></title>
</head>
<body>
<div id="container" class="container">
