	    <span id="usr-bar" class="small">
	      &nbsp;&nbsp;&nbsp;
	      <span id="usr-home">
		<span class="redp bold" onclick="socia.gohome('<%= usr %>')">home</span>
	      </span>
	      &nbsp;&nbsp;&nbsp;
	      <span id="usr-logout">
		<span class="redp bold" onclick="window.location='logout/<%= usr %>'">logout <%= usr %></span>
	      </span>
	      <br>
	      &nbsp;&nbsp;&nbsp;
	      <span id="usr-pass">
		<span class="redp" onclick="socia.dochangepwd('<%= usr %>', 'usr-pass')">change password</span>
	      </span>
	    </span>
