<% include top.html %>
<% include usbar.html %>
<% include middle.html %>
        <span style="font-weight: bold">Welcome <%= usr %>.</span>
	<br>
	<br>
	You have already uploaded or referenced:
	<div id="lst"></div>
	<br>
	<span class="bold">Upload one of the images on your computer:</span>
	<br>
	<input id="mat" type="file" name="file">
	<br>
	<input id="ref" type="text" name="description" size="50" placeholder="please enter a description"
	       onchange="socia.upload('<%= usr %>', 'mat', 'ref', 'msg', 'lst')">
	<br>
	<button type="button" onclick="socia.upload('<%= usr %>', 'mat', 'ref', 'msg', 'lst')">
	  load file
	</button>
	<span id="msg" class="warn small"></span>
	<br>
	<br>
	<span class="bold">or point to external media (YouTube or Vimeo):</span>
	<br>
	<br>
	<input type="text" id="url" name="url" size="50"
	       placeholder="reference to external media, starting with http:// or https://">
	<br>
	<input type="text" id="urldescr" name="urldescr" size="50" placeholder="please enter a description"
	        onchange="socia.urload('<%= usr %>', 'url', 'urldescr', 'lst')">
	<br>
	<button type="button" onclick="socia.urload('<%= usr %>', 'url', 'urldescr', 'lst')">load url</button>

	
<script type="text/javascript">window.onload=socia.matlist('<%= usr %>', 'lst')</script>
<% include bottom.html %>
